body {
	font-size: 20px;
	padding: 50px;
}

#tabEpisodes thead tr td {
	font-weight: bold;
}

#content, #ensemble-form {
	display: inline-block;
}

table td {
	width: 200px;
}

#bouton {
	font-size: 15px;
	color: blue;
	padding: 8px;
	border-radius: 5px;
}

.container
{
	width: 1024px;
	height: auto;
	margin: 0 auto;
	padding: 10px;
	background: #CCCCCC;
}

.table
{
	text-align: center;
	width: 100%;
	height: auto;
	background: #999999;
}

.th__head{
	background-color: #EEEEEE;
	padding: 10px 110px 10px 90px;
}

.td__content{
	padding: 10px 100px 10px 100px;
}

.form
{	
	text-align: center;
	width: 100%;
	height: auto;
	background: #888888;
	padding: 20px;
}


/*******************************************/
/*****************RESPONSIVE****************/
/*******************************************/

@media screen and (max-width: 1024px)
{

body {
	font-size: 20px;
	padding: 50px;
}

#content, #ensemble-form {
	display: inline-block;
}

table td {
	width: 200px;
}

.container
{
	width: 1024px;
	height: auto;
	margin: 0 auto;
	padding: 10px;
}

.table
{
	width: 100%;
	height: auto;
}

.th__head{
	padding: 10px 110px 10px 90px;
}

.td__content{
	padding: 10px 100px 10px 100px;
}

.form
{	
	width: 100%;
	height: auto;
	padding: 20px;
}


}

@media screen and (max-width: 920px)
{

	
}


@media screen and (max-width: 514px)
{

}


