body {
	padding: 100px;
}

.container
{
	width: 1024px;
	height: auto;
	margin: 0 auto;
	background: #CCCCCC;
}

#tabEpisodes thead tr td {
	font-weight: bold;
}

#content, #ensemble-form {
	display: inline-block;
}

table td {
	width: 200px;
}

#bouton {
	font-size: 15px;
	color: blue;
	padding: 8px;
	border-radius: 5px;
}

.table
{
	text-align: center;
	width: 100%;
	height: auto;
	background: #999999;
}

.th__head{
	background-color: #EEEEEE;
	padding: 10px 110px 10px 90px;
}

.td__content{
	padding: 10px 100px 10px 100px;
}

.form
{	
	text-align: center;
	height: auto;
	background: #888888;
	padding: 20px;
}


/*******************************************/
/*****************RESPONSIVE****************/
/*******************************************/

@media screen and (max-width: 1024px)
{

	body {
		padding: 10px;
	}

	.container
	{
		width: 100%;
	}

	.table
	{
		width: auto;
	}

}

@media screen and (max-width: 985px)
{

	.th__head{
		padding: 10px 100px 10px 80px;
	}

	.td__content{
		padding: 10px 90px 10px 90px;
	}

}

@media screen and (max-width: 810px)
{

	.th__head{
		padding: 10px 0 10px 0;
	}

	.td__content{
		padding: 10px 0 10px 0;
	}

}


@media screen and (max-width: 514px)
{
	body {
		padding: 0px;
	}

	.container
	{
		margin: 0 0;
	}

	.form span input
	{	
		display: block;
	}
}


